<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Maps '/' requests to the 'home' view -->
	<mvc:view-controller path="/" view-name="index"/>
	<!-- 自动注解  
	<context:component-scan base-package="com.coship.game.crawler" /> -->
	<context:component-scan base-package="com.my.mybatis.support.mapper" />
	
	<!-- mvc自动注解  -->
	<mvc:annotation-driven>
	        <mvc:message-converters register-defaults="true">
	            <!-- StringHttpMessageConverter编码为UTF-8，防止乱码 -->
	            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	                <constructor-arg value="UTF-8"/>
	                <property name = "supportedMediaTypes">
	                    <list>
	                        <bean class="org.springframework.http.MediaType">
	                            <constructor-arg index="0" value="text"/>
	                            <constructor-arg index="1" value="plain"/>
	                            <constructor-arg index="2" value="UTF-8"/>
	                        </bean>
	                        <bean class="org.springframework.http.MediaType">
	                            <constructor-arg index="0" value="*"/>
	                            <constructor-arg index="1" value="*"/>
	                            <constructor-arg index="2" value="UTF-8"/>
	                        </bean>
	                    </list>
	                </property>
	            </bean>
          </mvc:message-converters>  
     </mvc:annotation-driven>  



	<!-- 导入其他配置文件 -->
	<import resource="classpath:conf/applicationContext.xml"/>
	<!-- 资源国际化 -->
	<bean id="messageSource" 
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	    <property name="basenames">
	       <list>
	         <value>classpath:conf/i18n/right</value>
	       </list>
	    </property>
	    <!--① 刷新资源文件的周期，以秒为单位-->
	    <property name="cacheSeconds" value="20"/> 
	</bean>
	  
</beans>